<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/pico.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Hello, {{name}}</h1>
    {% for id in ids %}
      <p>{{id}}</p>
    {% endfor %}
  </body>
</html>


